
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
    height:100%;
     width:100%;
    
}


  
body::-webkit-scrollbar {
    width: 4px;
               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background: rgb(253, 241, 241);        /* color of the tracking area */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(156, 156, 156);    /* color of the scroll thumb */
          /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }

/*-------------------------------------------------
        navbar
        */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #813588;
    padding-top: 1.3rem;
    padding-bottom: 0.8rem;
    

}                    
nav .menu{
    margin-right: 40px;
}

nav .logo img{
    width:10rem;
    cursor: pointer;
    margin-right:10px;
    padding: 12px;
}
nav .menu a{
    color: #ffc846;
    margin-left: 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;

}
nav .menu a img{
    width: 20px;
    margin-bottom: -4px;
    transform: rotate(90deg);
}

nav .menu .log{
    color: #ffc846;
    background: transparent;
    border: 1.5px solid #ffc846;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}
nav .menu .call-icon,.SearchIcon{
    background: #ffc846;
    padding: 5px 5px;
    border-radius: 50%;
    margin-bottom: -7px;
    margin-left: 10px;
    cursor: pointer;
    width: 25px;

}
.homebannerbg{
    width: 100%;     
    position: absolute;
    object-fit: cover;
    display: inline-flex;
    height: 100%;

}

.hero {
    position: relative;
    height: 557px;
    display: flex;
    justify-content: center;
    gap: 18px;
}


.hero .girl{
    width: 540px;
    height: 440px;
    z-index: 1;
    margin-top: 114px;
    margin-left: 12rem;
}
.hero .form{
    
    margin-top: 20px;
    z-index: 3;
    right: 0;
    max-width: 500px;
    height: 534px;
    margin-right: 12rem;
    border-radius: 16px;
    text-align: center;
    background: #fcfcfc;
    padding: 20px 25px 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}
       


.hero .top{
    color: #2B2B2B;
    font-size: 1.4rem;
    margin-top: 5;
    margin-bottom: 8px;
    font-weight: 500;
}
.hero .middle{
    
    font-size: 0.8rem;
    color: #524f4f;
    margin: 0 0 8px;
    font-weight: 400;
}
.hero .bottom{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 16px;
    color: #333;
}


.hero .form form input{
    width: 22rem;
    margin-bottom: 25px;
    padding: 8px 8px;
    height: 2.55rem;
    border-radius: 8px;
    
    
    
}
::placeholder {
    color: rgb(158, 153, 153);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 13.5px;
  }

input:focus {
    outline: none;
    
}

.buttons-on-off{
    display: block;
}
.buttons-on-off .schdule-button{
    width: 49%;
    height: 40px;
    background: #fcfcfc;
    border-radius: 7px ;
    border-style: solid;
    outline-width: 1px;
    border: 1px solid rgb(236, 230, 230);
    margin: 10px 0px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.form .lowest{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 16px;
    color: #333;
    
}
.form .input{
    margin-bottom: 1.5rem;
    border-radius: 7px ;
    border-style: solid;
    border: 1px solid rgb(236, 230, 230);
    font-weight: 500;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555555;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-image: none;
    
}
.form .Book-class{
    width: 21rem;
    margin-bottom: 25px;
    
}

.hero .form form .Book-class{
    padding: 10px 10px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    border: transparent;
    border-radius: 5px;
    background-image: linear-gradient(to right, #FF8E32, #FF5263);
    cursor: pointer;
}

.hero .form .OTP{
    width: 89.5PX;
    height: 40px;
    position: absolute;
    padding: 10PX 10px;
    font-size: 15px;
    border: transparent;
    border-radius: 5px;
    color: white;
    z-index: 4;
    background-image: linear-gradient(to right, #5C72FF, #8C3FFF);
    margin-top: -64.55px;
    margin-left: 261px;
    cursor: pointer;
}

.form .hr1{
    border:1px solid #f5f2f5;
    width: 8.5rem;
    margin-left: 10px;
    margin-bottom: 22px;
    margin-top: -19px;
}
.form .hr3{
    border:1px solid #f5f2f5;
    width: 4.6rem;
    margin-left: 264px;
    margin-bottom: 22px;
    margin-top: -23px;
}
.form  .hr2{
    border:1px solid #f5f2f5 ;
    width: 8.5rem;
    margin-left: 10px;
    margin-bottom: 23px;
    margin-top: -26px;
}
.form  .hr4{
    border:1px solid #f5f2f5 ;
    width: 5.5rem;
    margin-left: 239px;
    margin-bottom: 23px;
    margin-top: -25px;
}

.hero .form form ion-icon{
    width: 12px;
    position: absolute;
    z-index: 4;
    margin-top: -52px;
    margin-left: 320px;


}
.hero .curves{
    position:absolute;
    left: 0;
    z-index: 2;
    margin-top: -35px;
    width: 100vw;
    bottom: 0;
}
/* ------------------------------------------sec2----------------------------- */
.sec2{
    height: 1900px;
    
}
.sec2 h2{
   text-align: center;
   margin-top: 30px;
   padding-left: 320px;
   padding-right: 320px;
   color: #2c2c2c;
   font-weight: 600;
   line-height: 1.18;
   margin-bottom: 10px !important;
}

.sec2 .title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 500;
    padding-left: 310px;
    padding-right: 300px;
    font-family: Roboto;
    font-weight: 500;
    color: #2c2c2c;
    font-size: 15px;
    margin-bottom: 30px;

}
/* ------------------card class 4----- */
.sec2 .card-class-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 920px;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 30px;
    height: 310px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 50px 20px;
    position: relative;
    box-shadow: 0 27px 20px -19px rgb(122 62 134 / 31%);
}
.sec2 .class-4{

    background-image: linear-gradient(to right, #5C72FF, #8C3FFF);
    color: white;
    position: absolute;
    top: 0;
    width: 150px;
    height: 35px;
    padding: 8px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;


}
.sec2 .new{
    position: absolute;
    top: 10% ;
    background: #fec004;
    padding: 5.5px 5.5px;
    font-weight: 700;
    color: #070500;
    left: 90%;
    border-radius: 5.5px;
    box-shadow: 0 -5.5px 3px -3px #00000030;

}
.sec2 .triangle{
    position: absolute;
    top: 10%;
    left: 88.15%;
    color: #fec004;
    transform: rotate(150deg);
    font-size: 33px;
    margin-top: 1.45px;
}
.sec2 .left, .right{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    margin-top: 10px;
}
.sec2 .left .img{
   margin-left: 10px;
   max-width: 220px

}
.sec2 .left .text img{
    width: 9rem;
    margin-left: 2rem;
    margin-top: -2.5rem;
    display: flex;
    align-items: center;
}
.sec2 .left .img img{
    width: 10rem;
    margin-left: 1rem;
    max-width: 220px;
    height: 200px;
    width: 180px;
    

    }
.sec2 .left .text p{
    text-align: center;
    font-size: 16px;
    display: block;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #2c2c2d;
    margin: 10px 0 10px 0;
    
}  
.sec2 .left h4,.sec2 .right h4{
    text-align: center;
    color: #2c2c2d;
    margin-left: -2rem;
    margin-top: 10px;
    cursor: pointer;
}

   
.sec2 .right .img{
    margin-left: 20px;
    max-width: 220px
    
 
 }
 .sec2 .right .img img{
    height: 195px;
    width: 204px;
    margin-bottom: 30px;
}
 


 .sec2 .right .text img{
     width: 10rem;
     margin-left: 2rem;
     margin-top: -2.5rem;
     display: flex;
     align-items: center;
 }
.sec2 .right .text p{
    text-align: center;
    font-size: 16px;
    display: block;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #2c2c2d;
    margin: 10px 0 10px 0;
}

.sec2 .line{
    position: absolute;
    width: 2px;
    height: 130px;
    top: 80px;
    left: 50%;
    color: #d9d9d9;
    display: block;
    box-shadow: #cac6c6 2px 0;
    background: #fff;
}

.card-class-4 .free-class{
    position: absolute;
    bottom: 0;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 16px;
    background-image: linear-gradient(to right, #ff9234, #fc6274 100%);
    border-radius: 10px;
    padding: 15px 30px;
    color: #fff;
    border: none;
    outline: 0;
    min-width: 170px;
    text-align: center;
}

 .sec2 .card-class-5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 920px;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 30px;
    height: 322px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 50px 20px;
    gap:83px;
    position: relative;
    box-shadow: 0 27px 20px -19px rgb(122 62 134 / 31%);
}
 .sec2 .class-5{
    background-image: linear-gradient(to right, #5C72FF, #8C3FFF);
    color: white;
    position: absolute;
    top: 0;
    width: 150px;
    height: 35px;
    padding: 8px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;

}
.sec2 .card-class-5 .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.sec2 .card-class-5 .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

 .sec2 .card-class-5 .jee-img,.neet-img{
    width: 220px;
    display: inline-block;
 }
 .sec2 .left p{
    text-align: center;
    font-size: 16px;
    display: block;
    font-family: Roboto;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #2c2c2d;
    margin: 10px 0px ;
    padding-left: 30px;
    padding-right: 14px;
   
 }
 .sec2 .right p{
    text-align: center;
    font-size: 16px;
    display: block;
    font-family: Roboto;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #2c2c2d;
    margin: 10px 0px ;
    padding-left: 9px;
    padding-right: 5px;
 }
 .sec2 .card-class-5 .Explore-jee-button,.Explore-neet-button{

    
    cursor: pointer;
    font-size: 16px;
    background-image: linear-gradient(to right, #ff9234, #fc6274 100%);
    border-radius: 10px;
    padding: 15px 30px;
    color: #fff;
    border: none;
    outline: 0;
    min-width: 170px;
    text-align: center;
    

 }
 .sec2 .line-2{
    position: absolute;
    width: 2px;
    height: 82px;
    top: 193px;
    left: 50%;
    color: #d9d9d9;
    display: block;
    box-shadow: #cac6c6 2px 0;
    background: #fff;
}
.card-class-5 .line-2 img{
    height: 88px;
    position: absolute;
    top: -9.5rem;
    right: -3.5rem;
}

/* ------------------------------------------------------------- */
.sec2 .card-class-6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
    
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 30px;
    height: 310px;
    border-radius: 10px;
    background-color: white;
    padding: 50px 20px;
    position: relative;
    gap: 30px;
    width: 100%;
    

}
.sec2 .card-class-6 .left-card-class-6{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
    padding: 0px 20px;
    width: 480px;
    margin: 20px 0px 30px;
    background-color: #f2f2f2;
    padding-right: 15px;
    border-radius: 10px;
    box-shadow: 0 27px 20px -19px rgb(122 62 134 / 31%);


}
.sec2 .card-class-6 .right-card-class-6{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 310px;
    width: 480px;
    padding: 15px 0px;
    background-color: #f2f2f2;
    margin: 20px 0px 30px;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 0 27px 20px -19px rgb(122 62 134 / 31%);
    margin-right: 4rem;
}
.card-class-6-left-img{
    min-width: 210px;
    height: 150px;
}
.card-class-6-left-text ,.card-class-6-right-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.byjus-early-logo{
    width: 120px;
    margin-top: 15px;
}
.left-card-class-6 .class-6{
    background-image: linear-gradient(to right, #5C72FF, #8C3FFF);
    color: white;
    position: absolute;
    top: -0.4rem;
    width: 150px;
    height: 35px;
    padding: 8px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;

}
.right-card-class-6 .class-6{
    background-image: linear-gradient(to right, #5C72FF, #8C3FFF);
    color: white;
    position: absolute;
    top: -0.4rem;
    width: 150px;
    height: 35px;
    padding: 8px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}
.card-class-6-right-img img{
    min-width: 210px;
    height: 201px;
}

.card-class-6-right-text img{
    width: 130px;
    margin-top: 30px !important;
    height: auto;
    margin-bottom: 20px;
}

.card-class-6-left-text p{
    text-align: center;
    font-size: 16px;
    display: block;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #2c2c2d;
    margin: 10px 0 10px 0;
}
.card-class-6-right-text p{
    text-align: center;
    font-size: 16px;
    display: block;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #2c2c2d;
    margin: 10px 0 10px 0;
}

 .sec2 .card-6-button{
    font-size: 15px;
    background-image: linear-gradient(to right, #ff9234, #fc6274 100%);
    color: #fff;
    min-width: 170px;
    text-align: center;
    border-radius: 10px;
    padding: 15px 30px;
    border-width: initial;
    margin-top: 20px;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: 0;
    display: inline-block;
    cursor: pointer;
 }
/* --------------------------------------------------------- */
.sec2 .container{
    padding-right: 12px;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 64px;
    position: relative;
    
    
} 
.sec2 .inner-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    
   
    
}
.sec2 .container-img{
    width: 250px;
}
.sec2 .container-p{
    font-size: 22px;
    line-height: 32px;
    margin-top: 20px;
    color: #333;
    padding-left: 55px;
    padding-right: 35px;  
    
}
.sec2 .byjus-advantage{

justify-content: center;
text-align: center;
padding: 0px 15px ;

}
.container-title h2{
    text-align: center;
   
    
    padding-left: 320px;
    padding-right: 320px;
    color: #2c2c2c;
    font-weight: 600;
    line-height: 1.18;
    margin-bottom: 10px !important;
    font-size: 29px;
}